body{
    background-color: azure;
}

h2{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
}

.dropdown{
    text-align: left;
    background-color: rgb(248, 247, 238);
    font-family: 'BigCaslon';
    padding: 8px;
    float: center;
    border-width: 1px;
    color: rgb(48, 48, 48);
    margin: 20px 20px;
    border-style: solid;
    border-color: dimgrey;
    border-radius: 7px;
}

.dd-content{
    display: none;
    background-color: rgb(248, 247, 238);
    padding: 10px;
    position: relative;
    min-width: 160px;
    z-index: 1;
}